body {
	background-image: url("old_moon.png");
}

#buttonPanel {
	margin-left: 1px;
}

.foodButton {
	margin-right: 10px;
	background: black;
	color: white;
}

.foodButton:hover {
	background: white;
	color: black;
} 


#footerPanel {
	text-align: right;
	margin-right: 5px;
}